body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.premier {
    background-image: url('img/po22.avif');
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    align-items: flex-end;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    display: flex;
    list-style: none;
    
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 0.75rem;
}

nav .mainMenu li a:hover{
    background: rgb 255,94,0;
}

nav .openMenu{
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}




nav ul li a:hover {
    color: blue;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: border-color 0.3s;
}

nav ul li a:hover {
    border-bottom-color: #B089F4;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.project {
    width: 290px;
    margin-right: 20px;
    justify-content: flex-start;
}

.project img {
    width: 100%;
    height: 110%;
    max-height: 330px;
    border-radius: 15px;
    padding: 10px;
}

.modifier {
    text-decoration: none;
    color: black;
    text-align: center;
}

.fa {
    color: black;
}

.espace {
    border-radius: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.nav-center {
    padding: 0px 240px 0px 200px;
    margin-top: -40px;
}

.nav-end {
    padding: 0px 200px 0px 800px;
    margin-top: -40px;
    margin-right: 20px;
}

.nav-center {
    display: flex;
    flex: 1;
    justify-content: center;
}

span h5.cherie {
    font-weight: normal;
    margin-top: 40px;
    padding: 30px 0px 0px 120px;
}

.nav-end span {
    margin-left: 15px;
}

.nav-end input {
    margin-left: 10px;
    margin-top: -50px;
}

.sectionne {
    text-align: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 100px 0px 0px 0px;
}

.custom-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.diese {
    color: blue;
}

.sectionne h5 {
    margin: 10px 0;
}


.separer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.section,
.section2 {
    margin: 0 10px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.inner-input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.inner-input input,
.inner-input select {
    height: 40px;
    border-radius: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-right: 10px;
    
}

.inner-input input:last-child {
    margin-right: 0;
}

.inner-input option {
    border-radius: 20px;
}

.inner-input input[type="text"]:not([placeholder="Search"]) {
    flex: 2;
}

.inner-input input[placeholder="Filiere"] {
    flex: 1;
}

.inner-input input[placeholder="Search"] {
    flex: 1;
    background-color: blue;
    color: white;
    border: none;
}

.sous-titre {
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
}

.titre {
    text-align: center;
}

.gallery .titre {
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery .sous-titre {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.row {
    padding: 30px 0px 0px 300px;
}

.project {
    display: flex;
    gap: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 120px;
    height: 160px;
    border-radius: 25px;
}

.text-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.merci {
    position: absolute;
    top: 30px;
    left: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.gallery {
    padding: 100px 0px 0px 0px;
}

.roman {
    text-align: center;
    font-size: 1rem;
}

.lecture {
    padding: 100px 0px 0px 0px;
}

.input-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.inner-input2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-input {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 140px;
    height: 170px;
}

.custom-input .value {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.custom-input h3,
.custom-input h5 {
    margin: 5px 0;
}

.red {
    color: red;
}

.modifier {
    display: inline-block;
}

.essaie {
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;

}

.essaie {
    font-weight: normal;
}

.have {
    display: flex;
    align-items: center;
    margin-top: -10px;
    padding: 0px 0px 0px 300px;
}

.have .bobo {
    margin-right: 10px;
    margin-top: -40px;
}

.nav-end .cherie {
    display: flex;
    margin-left: 5px; 
    margin-top: -45px;

}
.modifier i{
    position: relative;
    top: -15px;
    margin-right: 5px;
}

.row{
    text-align: center;
}

.gallery .row {
    display: flex;
    justify-content: center;
}

.gallery .project {
    display: flex;
    justify-content: center; 
    text-align: center;
}

.gallery .project .image-container {
    justify-content: center; 
    text-align: center;
    margin-right: 30px;
}



@media screen and (min-width: 220px) and (max-width: 480px) {
    nav .mainMenu li a {
        display: inline-block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.75rem;
       
    }

    .project {
        width: 100%;
        margin-right: 0;
        justify-content: flex-start;
        padding: 0px 40px 0px 0px;
        
    }
 
    .icon{
        display: block;
    }
    
    nav .mainMenu{
        height: 500px;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
        margin-bottom: 10px;
        
    }


    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu{
        display: block;
    }

    .essaie {
        display: none;
    }
    
    .nav-end {
        flex-direction: column;    
    }
    
    .gallery .project {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-container .inner-input {
        flex-wrap: wrap;
        width: 98%;
        border-radius: 20px;
        height: 40px;
        text-align: center;
    }

    .inner-input select, .inner-input input {
        width: 25%;
        
    }

    .sectionne, .gallery, .lecture, .input-container, .input-container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .modifier i{
        top: 3px;
    }
    
}  
