body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.premier {
    background-image: url('img/po22.avif');
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    align-items: flex-end;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li a:hover {
    color: blue;
}

.modifier {
    text-decoration: none;
    color: black;
    text-align: center;
}

.fa {
    color: black;
}

.espace {
    border-radius: 10px;
    width: 100px;
    height: 20px;
    text-align: center;
}

.initial nav {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
}

.initial nav ul.mainMenu {
    display: flex;
    padding: 0;
    margin: 0;
}

.initial nav ul.mainMenu li {
    margin-right: 20px; 
}

.nav-center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.nav-end {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.nav-end span {
    margin-left: 15px; 
}

.nav-end input {
    margin-left: 15px;
}

.sectionne {
    text-align: center;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 100px 0px 0px 0px;
}

.custom-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.diese {
    color: blue; 
}

.sectionne h5 {
    margin: 10px 0;
}

.separer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}

.section, .section2 {
    margin: 0 10px; 
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.inner-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    width: 700px; 
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 40px;
    border-radius: 20px;
}

.inner-input input,
.inner-input select {
    height: 30px;
    border-radius: 20px;
    padding: 0 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.inner-input option {
    border-radius: 20px;
}

.sous-titre{
    font-weight: lighter;
    font-size: 13px;
    text-align: center;
}

.titre{
    text-align: center;
}

.gallery .titre {
    font-size: 2em;
    margin-bottom: 20px;
}

.gallery .sous-titre {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.row {
    padding: 30px 0px 0px 300px;
}

.project {
    display: flex;
    gap: 20px; 
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 120px;
    height: 160px;
    border-radius: 25px;
}

.text-overlay {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: white; 
    
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.merci {
    position: absolute;
    top: 30px;
    left: 10px;
    color: white; 
    padding: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.gallery{
    padding: 100px 0px 0px 0px;
}

.roman{
    text-align: center;
    font-size: 1rem;
}

.lecture{
    padding: 100px 0px 0px 0px;
}




